[Match]
Name=*
Name=!bond0
Name=!lo
SSID=OLIN OLIN-DEVICES

[Network]
# Use DHCP-provided DNS servers for olin.edu domains
# Other domains should continue to use our hardcoded non-local DNS servers
DHCP=yes
DNSOverTLS=no
Domains=~olin.edu
